{% trans_default_domain 'admin' %}

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <h4 class="card-title card-header">{{ 'fal fa-cog'|fontawesome(null, 18, 'info-darken mr-2') }}{{ "Global"|trans }}</h4>
            <div class="card-body">
                <div class="row">
                    {{ form_row(form.adminName) }}
                    {{ form_row(form.configuration.charset) }}
                    {{ form_row(form.configuration.cacheExpiration) }}
                    {{ form_row(form.configuration.gdprFrequency) }}
                    {{ form_row(form.configuration.backgroundColor) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <h4 class="card-title card-header">{{ 'fal fa-flag'|fontawesome(null, 18, 'info-darken mr-2') }}{{ "Statuts"|trans }}</h4>
            <div class="card-body">
                <div class="row">
                    {{ form_row(form.configuration.onlineStatus) }}
                    {{ form_row(form.configuration.hasDefault) }}
                    {{ form_row(form.configuration.fullWidth) }}
                    {{ form_row(form.configuration.preloader) }}
                    {{ form_row(form.configuration.scrollTopBtn) }}
                    {{ form_row(form.configuration.breadcrumb) }}
                    {{ form_row(form.configuration.subNavigation) }}
                    {{ form_row(form.configuration.fullCache) }}
                    {{ form_row(form.configuration.fullCacheDev) }}
                    {{ form_row(form.configuration.seoStatus) }}
                    {{ form_row(form.configuration.duplicateMediasStatus) }}
                    {{ form_row(form.configuration.mediasCategoriesStatus) }}
                    {{ form_row(form.configuration.collapsedAdminTrees) }}
                    {{ form_row(form.configuration.adminAdvertising) }}
                </div>
            </div>
            <h4 class="card-title card-header no-radius">{{ 'fal fa-copy'|fontawesome(16, 18, 'info-darken mr-2') }}{{ "Pages"|trans }}</h4>
            <div class="card-body">
                <ul class="reset">
                    {% set schemeAndHost = defaultLocale|domain(entity) %}
                    <li><a href="{{ schemeAndHost ~ "/check.php" }}" target="_blank" class="mb-2"><span class="icon-wrap mr-2 text-dark">{{ 'fal fa-shield-check'|fontawesome(null, 14) }}</span>{{ 'Recommandations'|trans }}</a></li>
                    <li><a href="https://validator.schema.org/" target="_blank" class="mb-2"><span class="icon-wrap mr-2 text-dark">{{ 'fal fa-shield-check'|fontawesome(null, 14) }}</span>{{ 'validator.schema.org'|trans }}</a></li>
                    <li><a href="{{ schemeAndHost ~ "/phpinfo.php" }}" target="_blank" class="mb-2"><span class="icon-wrap mr-2 text-dark">{{ 'fab fa-php'|fontawesome(null, 14) }}</span>{{ 'phpinfo.php'|trans }}</a></li>
                    <li><a href="{{ schemeAndHost ~ "/sitemap.xml?preview=true" }}" target="_blank" class="mb-2"><span class="icon-wrap mr-2 text-dark">{{ 'fal fa-sitemap'|fontawesome(null, 14) }}</span>{{ 'sitemap.xml'|trans }}</a></li>
                    <li><a href="{{ schemeAndHost ~ "/robots.txt?preview=true" }}" target="_blank"><span class="icon-wrap mr-2 text-dark">{{ 'fal fa-robot'|fontawesome(null, 14) }}</span>{{ 'robots.txt'|trans }}</a></li>
                    <li><a href="/_error/404" target="_blank" class="mb-2"><span class="icon-wrap mr-2 text-dark">{{ 'far fa-unlink'|fontawesome(null, 14) }}</span>{{ "404"|trans }}</a></li>
                    <li><a href="{{ path('website_in_build', {"preview": true}) }}" target="_blank"><span class="icon-wrap mr-2 text-dark">{{ 'fal fa-tools'|fontawesome(null, 14) }}</span>{{ "Maintenance"|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <h4 class="card-title card-header">{{ 'fal fa-globe'|fontawesome(null, 18, 'info-darken mr-2') }}{{ "Internationalisation"|trans }}</h4>
            <div class="card-body pb-0">
                <div class="row">
                    {{ form_row(form.configuration.locale) }}
                    {{ form_row(form.configuration.locales) }}
                    {{ form_row(form.configuration.onlineLocales) }}
                    {{ form_row(form.configuration.transDomains) }}
                </div>
            </div>
            <h4 class="card-title card-header no-radius">{{ 'fal fa-burn'|fontawesome(null, 18, 'info-darken mr-2') }}{{ "Audit"|trans }}</h4>
            <div class="card-body">
                <ul class="reset">
                    {% set schemeAndHost = defaultLocale|domain(entity) %}
                    <li><a href="https://gtmetrix.com" target="_blank" class="mb-2"><span class="icon-wrap mr-2 text-dark">{{ 'fal fa-tachometer-alt-slowest'|fontawesome(null, 14) }}</span>{{ 'GTmetrix'|trans }}</a></li>
                    <li><a href="https://web.dev/measure/" target="_blank" class="mb-2"><span class="icon-wrap mr-2 text-dark">{{ 'fal fa-tachometer-alt-slowest'|fontawesome(null, 14) }}</span>{{ 'Measure web.dev'|trans }}</a></li>
                    <li><a href="https://validator.w3.org" target="_blank" class="mb-2"><span class="icon-wrap mr-2 text-dark">{{ 'fal fa-file-code'|fontawesome(null, 14) }}</span>{{ 'W3C Validation'|trans }}</a></li>
                    <li><a href="https://developers.google.com/search/reference/overview" target="_blank" class="mb-2"><span class="icon-wrap mr-2 text-dark">{{ 'fal fa-chart-line'|fontawesome(null, 14) }}</span>{{ 'Microdata'|trans }}</a></li>
                    <li><a href="https://search.google.com/test/rich-results" target="_blank" class="mb-2"><span class="icon-wrap mr-2 text-dark">{{ 'fal fa-chart-line'|fontawesome(null, 14) }}</span>{{ 'Microdata Validator'|trans }}</a></li>
                    <li><a href="https://search.google.com/structured-data/testing-tool?utm_campaign=devsite&utm_medium=jsonld&utm_source=paywalled-content" target="_blank" class="mb-2"><span class="icon-wrap mr-2 text-dark">{{ 'fal fa-chart-line'|fontawesome(null, 14) }}</span>{{ 'Microdata tests'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>