{% trans_default_domain 'admin' %}

<div class="card">
    <h4 class="card-title card-header">{{ 'fal fa-code'|fontawesome(null, 18, 'info-darken mr-2') }}{{ "Développement"|trans }}</h4>
    <div class="card-body pb-0">
        <div class="row">
            {{ form_row(form.configuration.ipsDev) }}
            {{ form_row(form.configuration.ipsCustomer) }}
            {{ form_row(form.configuration.ipsBan) }}
        </div>
    </div>
</div>