{% extends 'security/base.html.twig' %}

{% trans_default_domain 'security_cms' %}

{% block title %}{{ 'Modification du mot de passe'|trans|striptags }}{% endblock %}

{% block body %}

    <!-- #password-confirm-form -->
    {{ form_start(form, {'attr': {"id": "password-confirm-form", "class": "form-horizontal form-material security", "novalidate": "novalidate"}}) }}

        <div class="row">

            {{ form_row(form.plainPassword) }}

            {% include "security/includes/recaptcha-fields.html.twig" %}

        </div>

        {{ form_rest(form) }}
        {{ form_errors(form) }}

        {% include "security/includes/flashbag.html.twig" %}

        <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
                <button id="submit" name="submit" class="btn btn-info btn-lg btn-block text-uppercase w-100" type="submit">{{ 'Enregistrer'|trans|raw }}</button>
                <a href="{{ path("security_login", {"_locale": app.request.locale}) }}" class="text-dark d-inline-block mt-2" data-toggle="preloader">
                    {{ 'fal fa-reply'|fontawesome(null, 17, 'dark mr-2') }}{{ 'Retourner à la page de connexion'|trans|raw }}
                </a>
            </div>
        </div>

    {{ form_end(form) }}
    <!-- /#password-confirm-form -->

{% endblock %}