{% trans_default_domain 'admin' %}

<div id="medias-library-modal"
     class="modal fade"
     data-type="{{ type }}"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xxl" role="document">
        <div class="modal-content border refer-preloader text-left pb-5 pt-3">
            {% include 'admin/include/stripe-preloader.html.twig' with {'preloaderId': 'modal-preloader', 'full': true} only %}
            <div class="d-none">
                {% include 'admin/include/stripe-preloader.html.twig' with {'preloaderId': 'medias-preloader', 'full': true} only %}
            </div>
            <div class="modal-header">
                <h5 class="modal-title text-center w-100">{{ 'fal fa-images'|fontawesome(56, 50) }}</h5>
                <button class="close position-absolute" data-dismiss="modal" aria-label="{{ "Fermer"|trans }}">
                    {{ 'fal fa-times'|fontawesome(20, 20, 'dark') }}
                </button>
            </div>
            <div class="modal-body d-flex">
                <div class="container-fluid my-auto">
                    <h2 class="main-title text-center font-weight-bold mb-5">{{ "Choisir dans la bibliothèque"|trans }}</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <div id="root-btn-wrap" class="position-relative">
                                {% set collapsedAdminTrees = configuration.collapsedAdminTrees is defined
                                    ? configuration.collapsedAdminTrees : website().configuration.collapsedAdminTrees %}
                                <span id="nestable-expand-all" class="btn btn-outline-dark cursor{% if not collapsedAdminTrees %} d-none{% endif %}" data-toggle="tooltip" title="{{ "Dépiler"|trans|raw }}">
                                    {{ 'fal fa-arrow-alt-to-bottom'|fontawesome(null, 16, 'dark') }}
                                </span>
                                <span id="nestable-collapse-all" class="btn btn-dark cursor{% if collapsedAdminTrees %} d-none{% endif %}" data-toggle="tooltip" title="{{ "Empiler"|trans|raw }}">
                                    {{ 'fal fa-arrow-alt-to-top'|fontawesome(null, 16, 'dark') }}
                                </span>
                                <a href="{{ path('admin_medias_library', {'website': websiteId()}) }}"
                                   id="root-btn"
                                   class="ajax-get-refresh btn btn-white text-info w-100 text-center"
                                   data-target="#medias-results"
                                   data-target-loader="#medias-preloader">
                                    {{ 'fas fa-eye'|fontawesome(null, 14, 'info mr-2') }}{{ "Racine"|trans }}
                                </a>
                            </div>
                            {% include 'admin/core/include/nestable.html.twig' with {
                                "routenameInterface": "folder",
                                'customTitle': 'Afficher les médias'|trans,
                                'customIcon': 'fas fa-eye',
                                'customClass': 'ajax-get-refresh',
                                'customBtn': 'info',
                                'targetLoader': '#medias-preloader',
                                'targetAjax': '#medias-results',
                                "customRoute": 'admin_medias_library',
                                "customRole": 'ROLE_EDIT'
                            } %}
                        </div>
                        <div class="col-md-8">
                            {% include 'admin/page/media/medias-list.html.twig' %}
                        </div>
                        <div class="offset-md-4 col-md-8 text-center modal-buttons mt-5">
                            <button id="save-file-library"
                                    class="btn btn-info"
                                    data-type="{{ type }}"
                                    data-options="{{ options|json_encode }}">
                                {{ "Ajouter"|trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>