{% trans_default_domain 'admin' %}

{% set uri = app.request.uri %}
{% set active = '/forms/' in uri %}
{% set formActive = '/forms/layout/' in uri or 'forms/contacts' in uri  %}

{% if 'form'|moduleActive(allModules) and 'steps-form'|moduleActive(allModules) %}

    {% set module = 'form'|moduleActive(allModules, true) %}
    {% set i18n = i18nsModules['form'][app.user.locale] is defined ? i18nsModules['form'][app.user.locale] : i18nsModules['form']['fr'] %}
    {% set title = i18n.placeholder is defined and i18n.placeholder|striptags|length > 0 ? i18n.placeholder : i18nsModules['form']['entity'].adminName %}

    <li{% if active %} class="active"{% endif %}>
        <a class="has-arrow{% if active %} active{% endif %}" href="javascript:void(0)" aria-expanded="false">
            {{ i18nsModules['form']['entity'].iconClass|iconHtml({'width': 13, 'height': 15, 'class': 'white mr-3'}) }}{{ title|raw }}
        </a>
        <ul aria-expanded="false" class="collapse{% if active %} in{% endif %}">
            <li>
                <a href="{{ path('admin_form_index', {"website": websiteId}) }}" {% if formActive %}class="active"{% endif %} data-toggle="preloader">{{ "Liste des formulaires"|trans }}</a>
            </li>
            <li>
                <a href="{{ path('admin_stepform_index', {"website": websiteId}) }}" {% if '/steps/forms/' in uri %}class="active"{% endif %} data-toggle="preloader">
                    {{ "Liste des formulaires à étapes"|trans }}
                </a>
            </li>
        </ul>
    </li>

{% elseif 'form'|moduleActive(allModules) %}

    {% set module = 'form'|moduleActive(allModules, true) %}
    {% set i18n = i18nsModules['form'][app.user.locale] is defined ? i18nsModules['form'][app.user.locale] : i18nsModules['form']['fr'] %}
    {% set title = i18n.placeholder is defined and i18n.placeholder|striptags|length > 0 ? i18n.placeholder : i18nsModules['form']['entity'].adminName %}

    <li{% if active %} class="active"{% endif %}>
        <a href="{{ path('admin_form_index', {"website": websiteId}) }}" data-toggle="preloader">
            {{ i18nsModules['form']['entity'].iconClass|iconHtml({'width': 13, 'height': 15, 'class': 'white mr-3'}) }}{{ title|raw }}
        </a>
    </li>

{% endif %}
