{% trans_default_domain 'admin' %}

{% if 'map'|moduleActive(allModules) or is_granted('ROLE_INTERNAL') %}

    {% set uri = app.request.uri %}
    {% set active = '/maps/' in uri %}
    {% set module = 'map'|moduleActive(allModules, true) %}
    {% set i18n = i18nsModules['map'][app.user.locale] is defined ? i18nsModules['map'][app.user.locale] : i18nsModules['map']['fr'] %}
    {% set title = i18n.placeholder is defined and i18n.placeholder|striptags|length > 0 ? i18n.placeholder : i18nsModules['map']['entity'].adminName %}

    <li{% if active %} class="active"{% endif %}>
        <a class="has-arrow{% if pageTag == 'maps' %} active{% endif %}" href="javascript:void(0)" aria-expanded="false">
            {{ i18nsModules['map']['entity'].iconClass|iconHtml({'width': 17, 'height': 15, 'class': 'white mr-3'}) }}{{ title|raw }}
        </a>
        <ul aria-expanded="false" class="collapse{% if pageTag == 'maps' %} in{% endif %}">
            <li>
                <a href="{{ path('admin_map_index', {"website": websiteId}) }}" data-toggle="preloader">{{ "Liste des cartes"|trans }}</a>
            </li>
            <li>
                <a href="{{ path('admin_mapcategory_index', {"website": websiteId}) }}" {% if '/maps/categories/' in uri %}class="active"{% endif %} data-toggle="preloader">{{ "Liste des catégories de points"|trans }}</a>
            </li>
        </ul>
    </li>

{% endif %}