{% extends 'core/email/base.html.twig' %}

{% trans_default_domain 'front_default' %}

{% set resetLink = app.request.getSchemeAndHttpHost() ~ path('security_front_email_confirmation', {"token": token|url_encode, "_locale": app.request.locale}) %}

{% block metaTitle %}{{ "Confirmation de votre e-mail."|trans|raw }}{% endblock %}

{% block preheader %}{% endblock %}

{% block title %}
    {{ "Bonjour"|trans ~ " " ~ user.username }}, <br>
    {{ "Vous devez confirmer votre e-mail !"|trans }}
{% endblock %}

{% block info %}
    {{ "Cet e-mail vous a été envoyé, car nous avons reçu une demande d'inscription."|trans }}
{% endblock %}

{% block body %}

    <!-- start copy -->
    <tr>
        <td align="center" bgcolor="#ffffff" style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
            <p style="margin: 0;">{{ "Cliquez sur le bouton ci-dessous pour confirmer votre e-mail. Si vous n'êtes pas à l'origine de cette demande, veuillez prendre contact avec le support."|trans }}</p>
        </td>
    </tr>
    <!-- end copy -->

    <tr>
        <td align="left" bgcolor="#ffffff">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center" bgcolor="#ffffff" style="padding: 12px;">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center" bgcolor="#1a82e2" style="border-radius: 3px;">
                                    <a href="{{ resetLink }}" target="_blank" style="display: inline-block; padding: 16px 36px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; color: #ffffff; text-decoration: none; border-radius: 3px;">
                                        {{ "Confirmer"|trans }}
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td align="center" bgcolor="#ffffff" style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
            <p style="margin: 0;">{{ "Si cela ne fonctionne pas, copiez et collez le lien suivant dans votre navigateur :"|trans }}</p>
            <p style="margin: 0;">
                <a href="{{ resetLink }}" target="_blank" style="text-decoration: none; color: #1a82e2;">{{ resetLink }}</a>
            </p>
        </td>
    </tr>

{% endblock %}