{% extends 'core/email/base.html.twig' %}

{% trans_default_domain 'front_default' %}

{% block metaTitle %}{{ "Modification de votre mot de passe."|trans({}, 'security_email', user.locale) }}{% endblock %}

{% block preheader %}{% endblock %}

{% block title %}
    {{ "Bonjour"|trans({}, 'security_email', user.locale) ~ " " ~ user.username }},
{% endblock %}

{% block info %}
    {% if expire %}
        {{ "Cet e-mail vous a été envoyé, car nous avons constaté que votre mot de passe avait expiré."|trans({}, 'security_email', user.locale) }}
    {% else %}
        {{ "Cet e-mail vous a été envoyé, car nous avons constaté que votre mot de passe allait bientôt expirer."|trans({}, 'security_email', user.locale) }}
    {% endif %}
{% endblock %}

{% block body %}

    <!-- start copy -->
    <tr>
        <td align="center" bgcolor="#ffffff" style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
            <p style="margin: 0;">{{ "Votre mot de passe à expiré. Pensez à le modifier."|trans({}, 'security_email', user.locale) }}</p>
        </td>
    </tr>
    <!-- end copy -->

{% endblock %}