{% extends 'front/' ~ websiteTemplate ~ '/base.html.twig' %}

{% trans_default_domain 'front_default' %}

{% import 'core/src-macro.html.twig' as resources %}

{% block metaTitle %}{{ "Modification du mot de passe"|trans|raw }} - {{ companyName }}{% endblock %}
{% block metaRobots %}noindex{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% include 'front/' ~ websiteTemplate ~ '/blocks/titleheader/default.html.twig' with { 'title': emt("Modification du mot de passe"|trans|raw) } %}

    <div class="container-fluid mt-5 mb-5 form-security-container">
        <div class="row">
            <div class="col-md-4 offset-md-4 recaptcha-referer">

                {{ form_start(form, {'attr': {"id": "password-confirm-form", "novalidate": "novalidate", "class": "security"}}) }}

                    <div class="row">
                        {{ form_row(form.plainPassword) }}
                    </div>

                    {{ form_rest(form) }}
                    {{ form_errors(form) }}

                    {% include "security/includes/recaptcha-fields.html.twig" %}
                    {% include "front/" ~ websiteTemplate ~ "/include/flashbag.html.twig" %}
                    {% include 'front/' ~ websiteTemplate ~ '/include/alert.html.twig' with {"alert": 'info', "message": emt("Votre mot de passe doit comporter au moins 8 caractères, contenir au moins un chiffre, une majuscule et une minuscule."|trans|raw)} only %}

                    <div class="form-group text-center">
                        <button id="submit"
                                name="submit"
                                type="submit"
                                class="btn btn-primary btn-block text-uppercase"
                                data-toggle="preloader">{{ emt('Enregistrer'|trans) }}</button>
                        <a href="{{ path("security_front_login") }}" class="text-dark d-inline-block mt-2 preloader" data-toggle="preloader">
                            {{ 'fal fa-reply'|fontawesome(null, 16, 'me-2') }}{{ emt('Retourner à la page de connexion'|trans|raw) }}
                        </a>
                    </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}