{% trans_default_domain 'admin' %}

{% if 'seo'|moduleActive(allModules) %}

    {% set microDataActive = website.seoConfiguration.microData %}
    {% set uri = app.request.uri %}
    {% set active = '/seo/' in uri or '/gdpr/' in uri %}
    {% set module = 'seo'|moduleActive(allModules, true) %}
    {% set i18n = i18nsModules['seo'][app.user.locale] is defined ? i18nsModules['seo'][app.user.locale] : i18nsModules['seo']['fr'] %}
    {% set title = i18n.placeholder is defined and i18n.placeholder|striptags|length > 0 ? i18n.placeholder : i18nsModules['seo']['entity'].adminName %}

    <li{% if active %} class="active"{% endif %}>
        <a class="has-arrow{% if active %} active{% endif %}" href="javascript:void(0)" aria-expanded="false">
            {{ i18nsModules['seo']['entity'].iconClass|iconHtml({'width': 15, 'height': 15, 'class': 'white mr-3'}) }}{{ title|raw }}
        </a>
        <ul aria-expanded="false" class="collapse{% if active %} in{% endif %}">
            <li>
                <a href="{{ path('admin_seo_edit', {"website": websiteId, 'entitylocale': website().configuration.locale}) }}"{% if '/seo/edit/' in uri %}class="active"{% endif %}  data-toggle="preloader">{{ "Édition"|trans|raw }}</a>
            </li>
            <li>
                <a href="{{ path('admin_redirection_edit', {"website": websiteId}) }}" data-toggle="preloader">{{ "Redirections"|trans|raw }}</a>
            </li>
            {% if 'google-analytics'|moduleActive(allModules) %}
                <li>
                    <a href="{{ path('admin_google_analytics', {"website": websiteId, "page": "general", 'locale': defaultLocale}) }}"{% if '/seo/analytics/google/' in uri %}class="active"{% endif %} data-toggle="preloader">{{ "Google Analytics"|trans|raw }}</a>
                </li>
            {% endif %}
            {% if 'analytics-customer'|moduleActive(allModules) or is_granted('ROLE_INTERNAL') and 'analytics-internal'|moduleActive(allModules) %}
                <li>
                    <a href="{{ path('admin_analytics_dashboard', {"website": websiteId}) }}"{% if '/seo/analytics/cms' in uri %}class="active"{% endif %} data-toggle="preloader">{{ "Analytics"|trans|raw }}</a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('admin_archive_index', {'website': websiteId}) }}"{% if '/seo/archive/' in uri %}class="active"{% endif %} data-toggle="preloader">{{ "URLS archivées"|trans|raw }}</a>
            </li>
            {% if is_granted('ROLE_INTERNAL') %}
                <li>
                    <a href="{{ path('admin_notfoundurl_index', {'website': websiteId, "type": 'front', "category": 'url'}) }}"{% if '/seo/not-found-urls/' in uri %}class="active"{% endif %} data-toggle="preloader">{{ "Erreurs 404"|trans|raw }}</a>
                </li>
                <li>
                    <a href="{{ path('admin_seo_sitemap', {'website': websiteId}) }}" data-toggle="preloader">{{ "Sitemap"|trans|raw }}</a>
                </li>
                <li>
                    <a href="{{ path('admin_formsuccess_index', {'website': websiteId}) }}" data-toggle="preloader">{{ "Tracking formulaires"|trans|raw }}</a>
                </li>
                <li>
                    <a href="{{ path('admin_seoconfiguration_edit', {'website': websiteId}) }}" data-toggle="preloader">{{ "Configuration"|trans|raw }}</a>
                </li>
                <li>
                    <a href="{{ path('admin_gdprcategory_index', {"website": websiteId}) }}" {% if pageTag =='gdpr' %}class="active"{% endif %} data-toggle="preloader">{{ "RGPD"|trans|raw }}</a>
                </li>
            {% endif %}
            {% if 'gdpr'|moduleActive(allModules) or is_granted('ROLE_INTERNAL') %}
                <li>
                    <a href="{{ path('front_gdpr_remove_data', {"referer": true}) }}" class="swal-delete-link">{{ "Supprimer les données RGPD"|trans|raw }}</a>
                </li>
            {% endif %}
        </ul>
    </li>
{% endif %}