<h4 class="card-subtitle mb-3">{{ 'fal fa-share-alt'|fontawesome(null, 18, 'info-darken mr-2') }}{{ "Partage"|trans }}</h4>
<div class="row">
    {{ form_row(form.website.api.shareLinks) }}
</div>

<h4 class="card-subtitle mb-3">{{ 'fal fa-copy'|fontawesome(null, 18, 'info-darken mr-2') }}{{ "Pages"|trans }}</h4>

{% include 'admin/page/information/social-network.html.twig' with {'socialsNetworks': form.website.information.socialNetworks} %}