{% trans_default_domain 'admin' %}

<div class="modal fade" id="files-urlizer-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border refer-preloader text-left pb-5 pt-3">
            {% include 'admin/include/stripe-preloader.html.twig' with {'preloaderId': 'modal-preloader', 'full': true} only %}
            <div class="modal-header">
                <h5 class="modal-title text-center w-100">{{ 'fal fa-file-alt'|fontawesome(null, 50, 'dark') }}</h5>
                <button class="close position-absolute" data-dismiss="modal" aria-label="{{ "Fermer"|trans }}">
                    {{ 'fal fa-times'|fontawesome(20, 20, 'dark') }}
                </button>
            </div>
            <div class="modal-body d-flex">
                <div class="container my-auto ajax-content">
                    <h2 class="main-title text-center font-weight-bold mb-5">{{ "Urlizer"|trans }}</h2>
                    {{ form_start(form, {'attr': {
                        'id': 'files-rename-form',
                        "action": path('admin_file_rename_tool'),
                        "novalidate": "novalidate"
                    }}) }}
                        {{ form_row(form.files) }}
                        <div class="w-100 text-center modal-buttons mt-4">
                            <button class="btn btn-info" data-dismiss="modal">{{ "Annuler"|trans }}</button>
                            <button type="submit" class="btn btn-info refresh">{{ "Générer une archive"|trans }}</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>