{% trans_default_domain 'front_default' %}

{% set template = configuration.template %}
{% set links = tree.main is defined ? tree.main : [] %}
{% set expand = menu.expand %}

{% if links %}

    <!-- #main-navigation -->
    <nav id="main-navigation" class="navbar navbar-expand-{{ expand }} pe-2 ps-2 pe-{{ expand }}-0 ps-{{ expand }}-0 pt-{{ expand }}-4 pb-{{ expand }}-4">

        <div class="{% if menu.size == 'container' %}container{% else %}container-fluid{% endif %}{% if menu.size == 'container-fluid' %} pe-5 ps-5{% endif %}">

            {% if logo %}
                <a class="navbar-brand p-0" aria-label="{{ companyName }}" href="{{ app.request.getSchemeAndHttpHost() }}" data-toggle="preloader">
                    {{ imgRender({'src': asset(logo), 'width': 165, 'height': 45, 'title': companyName, 'id': 'main-navigation-logo', 'only_html': true, 'lazy': false}) }}
                </a>
            {% endif %}

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation-nav" aria-controls="main-navigation-nav" aria-expanded="false" aria-label="{{ "Menu"|trans|raw }}">
                <span id="nav-toggler-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </button>

            <div id="main-navigation-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav {{ alignment }}">

                    {% set indexActive = masterRequest().requestUri == '' or masterRequest().requestUri == '/' %}
                    {% if isMobile() or isTablet() %}
                        <li class="nav-item text-center text-{{ expand }}-start{% if indexActive %} active{% endif %}"{% if microDataActive %} itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement"{% endif %}>
                            <a href="{{ path('front_index') }}" class="nav-link{% if indexActive %} active{% endif %}"{% if microDataActive %} itemprop="url"{% endif %} data-toggle="preloader">
                                {% if microDataActive %}<span itemprop="name">{% endif %}{{ emt("Accueil"|trans|raw) }}{% if microDataActive %}</span>{% endif %}
                            </a>
                        </li>
                    {% endif %}

                    {% for link in links %}
                        {% include 'front/' ~ template ~ '/actions/menu/main-element.html.twig' with {
                            'dropdownHover': dropdownHover,
                            'websiteTemplate': template,
                            'expand': expand,
                            'link': link,
                            'tree': tree,
                            'dropdownItem': false,
                            'microDataActive': microDataActive } only %}
                    {% endfor %}

                    {% if haveRegistration and isMobile() or haveRegistration and isTablet() and not isUserFront() %}
                        {% if not isUserFront(app.user) %}
                            <li class="nav-item text-center text-{{ expand }}-start"{% if microDataActive %} itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement"{% endif %}>
                                <a href="{{ path('security_front_login') }}" class="nav-link"{% if microDataActive %} itemprop="url"{% endif %} data-toggle="preloader">
                                    {% if microDataActive %}<span itemprop="name">{% endif %}{{ emt("Connectez-vous"|trans|raw) }}{% if microDataActive %}</span>{% endif %}
                                </a>
                            </li>
                            <li class="nav-item text-center text-{{ expand }}-start"{% if microDataActive %} itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement"{% endif %}>
                                <a href="{{ path('security_front_register') }}" class="nav-link"{% if microDataActive %} itemprop="url"{% endif %} data-toggle="preloader">
                                    {% if microDataActive %}<span itemprop="name">{% endif %}{{ emt("Inscrivez-vous"|trans|raw) }}{% if microDataActive %}</span>{% endif %}
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item text-center text-{{ expand }}-start">
                                <a href="{{ path('security_logout') }}" class="nav-link" data-toggle="preloader">
                                    {{ emt("Déconnectez-vous"|trans|raw) }}
                                </a>
                            </li>
                            <li class="nav-item text-center text-{{ expand }}-start">
                                <a href="{{ path('security_front_profile') }}" class="user-personal-space-link" aria-label="{{ "Espace personnel"|trans|raw }}" class="nav-link" data-toggle="preloader">
                                    {{ 'fal fa-user'|fontawesome(null, 20) }}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}

                </ul>

                {% if multiLingues and isMobile() or multiLingues and isTablet() %}
                    {{ render_esi(controller('App\\Controller\\Front\\Module\\LocaleController::switcher', { 'website': website.id, 'class': 'ms-auto'|url_encode } )) }}
                {% endif %}

            </div>

            {% if multiLingues and not isMobile() %}
                {{ render_esi(controller('App\\Controller\\Front\\Module\\LocaleController::switcher', { 'website': website.id, 'class': 'ms-auto'|url_encode } )) }}
            {% endif %}

            {% if haveRegistration and not isMobile() or haveRegistration and not isTablet() %}
                <ul class="navbar-nav ms-auto">
                    {% if not isUserFront(app.user) %}
                        <li class="ms-4"{% if microDataActive %} itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement"{% endif %}>
                            <a href="{{ path('security_front_login') }}" class="btn btn-outline-primary hbtn hb-fill-right"{% if microDataActive %} itemprop="url"{% endif %} data-toggle="preloader">
                                {% if microDataActive %}<span itemprop="name">{% endif %}{{ emt("Connectez-vous"|trans|raw) }}{% if microDataActive %}</span>{% endif %}
                            </a>
                        </li>
                        <li class="ms-4"{% if microDataActive %} itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement"{% endif %}>
                            <a href="{{ path('security_front_register') }}" class="btn btn-primary hbtn hb-fill-right"{% if microDataActive %} itemprop="url"{% endif %} data-toggle="preloader">
                                {% if microDataActive %}<span itemprop="name">{% endif %}{{ emt("Inscrivez-vous"|trans|raw) }}{% if microDataActive %}</span>{% endif %}
                            </a>
                        </li>
                    {% else %}
                        <li class="ms-4">
                            <a href="{{ path('security_logout') }}" class="btn btn-primary hbtn hb-fill-right" data-toggle="preloader">
                                {{ emt("Déconnectez-vous"|trans|raw) }}
                            </a>
                        </li>
                        <li class="ms-4">
                            <a href="{{ path('security_front_profile') }}" class="user-personal-space-link" aria-label="{{ "Espace personnel"|trans|striptags }}" data-toggle="preloader">
                                <span class="d-inline-block" data-bs-toggle="tooltip" title="{{ "Espace personnel"|trans|striptags }}">
                                    {{ 'fal fa-user'|fontawesome(null, 35) }}
                                </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}

        </div>

    </nav>
    <!-- \#main-navigation -->

{% endif %}