{% trans_default_domain 'admin' %}

{% set displayTitleCard = displayTitleCard is defined ? displayTitleCard : true %}
{% set onlyMedia = children.media.children.uploadedFile.vars.attr.onlyMedia is defined ? children.media.children.uploadedFile.vars.attr.onlyMedia : false %}
{% set configuration = website().configuration %}
{% set defaultLocale = configuration.locale %}
{% set allLocales = configuration.allLocales %}
{% set videoFormats = ['webm', 'ogv', 'mp4'] %}

{% if displayTitleCard %}
    <div class="col-12">
        <h4 class="card-subtitle mb-4">
            {{ "fal fa-photo-video"|fontawesome(null, 14, 'info-darken mr-2') }}{% if allLocales|length > 1 %}{{ "Médias"|trans }}{% else %}{{ "Média"|trans }}{% endif %}
        </h4>
    </div>
{% endif %}

{% if allLocales|length > 1 %}
    <div class="locales-tab-container">
{% endif %}

{% if allLocales|length > 1 %}
    <ul id="media-relations-tabs" class="nav nav-tabs w-100" role="tablist">
        {% for mediaRelation in mediaRelations %}
            {% set locale = mediaRelation.vars.value.locale %}
            <li class="nav-item{% if locale not in allLocales %} d-none{% endif %}" data-toggle="tooltip" title="{{ languageName(locale, app.user.locale) }}">
                <a class="nav-link{% if locale == defaultLocale %} active{% endif %}" data-toggle="tab"
                   id="media-relation-{{ locale }}-tab"
                   aria-selected="{% if locale == defaultLocale %}true{% else %}false{% endif %}"
                   href="#media-relations-tab-{{ locale }}" role="tab">
                    <img src="{{ asset('build/vendor/images/lazy-point.svg', 'vendor') }}"
                         data-src="{{ asset('/medias/icons/flags/' ~ locale ~ '.svg') }}" class="img-fluid lazyload" height="14" width="19">
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if allLocales|length > 1 %}
    <div id="media-relations-tabs-content" class="tab-content tab-content-border w-100 media-relations-tab">
{% endif %}

    {% for mediaRelation in mediaRelations %}

        {% set locale = mediaRelation.vars.value.locale %}
        {% set mediaRelationId = mediaRelation.vars.value.id %}
        {% set onlyMedia = mediaRelation.media.uploadedFile.vars.attr.onlyMedia is defined and mediaRelation.media.uploadedFile.vars.attr.onlyMedia %}
        {% set hasMediaScreens = onlyMedia and mediaRelation.media.mediaScreens is defined %}
        {% set screenSize = mediaRelation.vars.data.media.screen is defined ? mediaRelation.vars.data.media.screen : null %}

        {% if allLocales|length == 1 and locale != configuration.locale %}
            <div class="d-none">
        {% endif %}

        {% if allLocales|length > 1 %}
            <div id="media-relations-tab-{{ locale }}" class="tab-pane fade{% if locale == defaultLocale %} show active{% endif %}" role="tabpanel" aria-labelledby="media-relation-{{ locale }}-tab">
                <div class="p-20 pb-0">
                    <div class="row">
        {% endif %}

            {% if hasMediaScreens %}
                <div class="col-md-3 screen-card">
                    {% set parameters = {
                        'type': 'single',
                        'mediaRelationId': mediaRelation.vars.value.id,
                        'classname': classname|url_encode,
                        'entityId': entity.id,
                        'btnId': "#open-modal-" ~ mediaRelation.vars.value.id,
                    }|json_encode %}
                    <span class="open-modal-medias-wrap btn btn-outline-dark w-100 mb-3 single">
                        <span id="open-modal-{{ mediaRelation.vars.value.id }}"
                              class="open-modal-medias d-inline-block"
                              data-options="{{ parameters }}">
                            {{ 'fal fa-photo-video'|fontawesome(null, 14, 'mr-2') }}{{ "Choisir dans la bibliothèque"|trans }}
                        </span>
                        <a href="https://tinypng.com/"
                           target="_blank" class="optimize-media-btn btn btn-dark"
                           data-toggle="tooltip"
                           title="{{ "Optimisez vos médias avant de les télécharger"|trans|striptags }}">
                            {{ 'fal fa-file-archive'|fontawesome(null, 16) }}
                        </a>
                    </span>
            {% else %}
                <div class="col-md-{% if onlyMedia %}12{% else %}7{% endif %}">
                    {% include 'admin/page/media/modal-btn.html.twig' %}
            {% endif %}

                {{ form_row(mediaRelation.media.uploadedFile) }}

                {% if hasMediaScreens and mediaRelation.media.vars.value.screen is defined %}
                    <h4 class="text-center text-uppercase screen-title mb-3">{{ mediaRelation.media.vars.value.screen }}</h4>
                {% endif %}

            {% if hasMediaScreens %}
                </div>
                {% for screen in mediaRelation.media.mediaScreens %}
                    {% set displayScreen = screenSize != 'poster' or screenSize == 'poster' and screen.vars.value.screen in videoFormats ? '' : ' d-none' %}
                    <div class="col-md-3 screen-card{{ displayScreen }}">
                        {% set parameters = {
                            'type': 'single',
                            'classname': 'App\\Entity\\Media\\Media'|url_encode,
                            'mediaId': screen.vars.value.id,
                            'entityId': screen.vars.value.id,
                            'btnId': "#open-screen-modal-" ~ screen.vars.value.id,
                        }|json_encode %}
                        <span class="open-modal-medias-wrap btn btn-outline-dark w-100 mb-3 single">
                            <span id="open-screen-modal-{{ screen.vars.value.id }}"
                                  class="open-modal-medias d-inline-block"
                                  data-options="{{ parameters }}">
                                {{ 'fal fa-photo-video'|fontawesome(null, 14, 'mr-2') }}{{ "Choisir dans la bibliothèque"|trans }}
                            </span>
                            <a href="https://tinypng.com/"
                               target="_blank" class="optimize-media-btn btn btn-dark"
                               data-toggle="tooltip"
                               title="{{ "Optimisez vos médias avant de les télécharger"|trans|striptags }}">
                                {{ 'fal fa-file-archive'|fontawesome(null, 16) }}
                            </a>
                        </span>
                        {{ form_row(screen.uploadedFile) }}
                        <h4 class="text-center text-uppercase screen-title mb-3">{{ screen.vars.value.screen }}</h4>
                    </div>
                {% endfor %}
            {% else %}
                </div>
            {% endif %}

            {% if not onlyMedia %}
                {% if screenSize is not defined or screenSize is defined and screenSize != 'poster' %}

                    <div class="col-md-5{% if not is_granted('ROLE_INTERNAL') %} my-auto{% endif %}">

                        {% if mediaRelation.i18n.targetLink is defined %}
                            <button class="btn btn-outline-dark collapsed w-100 mb-3"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#collapseLink"
                                    aria-expanded="false"
                                    aria-controls="collapseLink">
                                {{ 'fal fa-link'|fontawesome(null, 14, 'mr-2') }}{{ "Lien du média"|trans }}
                            </button>
                        {% endif %}

                        {% if mediaRelation.maxWidth is defined or mediaRelation.maxHeight is defined %}
                            <div class="row">
                                {% if mediaRelation.maxWidth is defined %}
                                    <div class="col-md-6 p-0">{{ form_row(mediaRelation.maxWidth) }}</div>
                                {% endif %}
                                {% if mediaRelation.maxHeight is defined %}
                                    <div class="col-md-6 p-0">{{ form_row(mediaRelation.maxHeight) }}</div>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if mediaRelation.i18n.title is defined %}
                            <div class="row">
                                {{ form_row(mediaRelation.i18n.title) }}
                            </div>
                        {% endif %}

                        {% if mediaRelation.media.copyright is defined or mediaRelation.media.titlePosition is defined %}
                            <div class="row">
                        {% endif %}

                            {% set groupSize = mediaRelation.media.copyright is defined and mediaRelation.media.titlePosition is defined ? 6 : 12 %}

                            {% if mediaRelation.media.copyright is defined %}
                                <div class="col-md-{{ groupSize }} p-0">{{ form_row(mediaRelation.media.copyright) }}</div>
                            {% endif %}

                            {% if mediaRelation.media.titlePosition is defined %}
                                <div class="col-md-{{ groupSize }} p-0">{{ form_row(mediaRelation.media.titlePosition) }}</div>
                            {% endif %}

                        {% if mediaRelation.media.copyright is defined or mediaRelation.media.titlePosition is defined %}
                            </div>
                        {% endif %}

                        <div class="row">
                            {% if mediaRelation.downloadable is defined %}
                                <div class="col-md-6 p-0">
                                    {{ form_row(mediaRelation.downloadable) }}
                                </div>
                            {% endif %}
                            {% if mediaRelation.displayTitle is defined %}
                                <div class="col-md-6 p-0">
                                    {{ form_row(mediaRelation.displayTitle) }}
                                </div>
                            {% endif %}
                            {% if mediaRelation.popup is defined %}
                                <div class="col-md-6 p-0">
                                    {{ form_row(mediaRelation.popup) }}
                                </div>
                            {% endif %}
                            {% if mediaRelation.isMain is defined %}
                                <div class="col-md-6 p-0">
                                    {{ form_row(mediaRelation.isMain) }}
                                </div>
                            {% endif %}
                            {% if mediaRelation.media.notContractual is defined %}
                                <div class="col-md-6 p-0">
                                    {{ form_row(mediaRelation.media.notContractual) }}
                                </div>
                            {% endif %}
                        </div>

                    </div>

                {% endif %}
            {% endif %}

            {% if mediaRelation.i18n.targetLink is defined %}

                <div class="col-12">
                    <div id="collapseLink" class="collapse">
                        <div class="card-body pb-0 border bg-light mb-4 radius">
                            <h4 class="card-subtitle mb-4 w-100">{{ "fal fa-link"|fontawesome(null, 14, 'info-darken mr-2') }}{{ "Lien"|trans }}</h4>
                            <div class="row">
                                {% if mediaRelation.i18n.targetAlignment is defined %}
                                    {{ form_row(mediaRelation.i18n.targetAlignment) }}
                                {% endif %}

                                {% if mediaRelation.i18n.targetStyle is defined %}
                                    {{ form_row(mediaRelation.i18n.targetStyle) }}
                                {% endif %}

                                {% if mediaRelation.i18n.targetLink is defined %}
                                    {{ form_row(mediaRelation.i18n.targetLink) }}
                                {% endif %}

                                {% if mediaRelation.i18n.targetPage is defined %}
                                    {{ form_row(mediaRelation.i18n.targetPage) }}
                                {% endif %}

                                {% if mediaRelation.i18n.targetLabel is defined %}
                                    {{ form_row(mediaRelation.i18n.targetLabel) }}
                                {% endif %}

                                {% if mediaRelation.i18n.newTab is defined %}
                                    <div class="form-group col-md-4">
                                        {{ form_widget(mediaRelation.i18n.newTab) }}
                                    </div>
                                {% endif %}

                                {% if mediaRelation.i18n.externalLink is defined %}
                                    <div class="form-group col-md-4">
                                        {{ form_widget(mediaRelation.i18n.externalLink) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

        {% if allLocales|length > 1 %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if allLocales|length == 1 and locale != configuration.locale %}
            </div>
        {% endif %}

    {% endfor %}

{% if allLocales|length > 1 %}
    </div>
{% endif %}

{% if allLocales|length > 1 %}
    </div>
{% endif %}