{% trans_default_domain 'front_default' %}

<div class="data-map d-none"
     data-zoom="{{ map.zoom }}"
     data-min-zoom="{{ map.minZoom }}"
     data-max-zoom="{{ map.maxZoom }}"
     data-latitude="{{ map.latitude }}"
     data-longitude="{{ map.longitude }}"
     data-marker-clusters="{{ map.markerClusters }}"
     data-enlarge-txt="{{ "Agrandir le plan"|trans|raw }}"
     data-direction-txt="{{ "Itinéraire"|trans|raw }}">
    {% for point in map.points %}
        {% if point.address %}
            {% set address = point.address %}
            {% set mediaPath = point|i18nMedia|thumb(null, {'path': true}) %}
            {% set i18n = point|i18n %}
            {% set link = i18n|i18nLink %}
            {% if point.categories|length > 0 %}
                {% for category in point.categories %}
                    {% include 'front/' ~ websiteTemplate ~ '/actions/map/include/point.html.twig' with {
                        'category': category,
                        'marker': category.marker,
                        'dataCategory': 'category-' ~ category.id
                    } %}
                {% endfor %}
            {% else %}
                {% include 'front/' ~ websiteTemplate ~ '/actions/map/include/point.html.twig' with {
                    'marker': point.marker,
                    'dataCategory': 'category'
                } %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>