{% trans_default_domain 'front_default' %}

{% set layout = lastNews.layout %}
{% set hasCustomLayout = lastNews.customLayout is defined and lastNews.customLayout
    and layout.zones is defined and layout.zones|length > 0 %}
{% set i18n = hasCustomLayout ? layout|layoutBlockType('text')|i18n : lastNews|i18n %}

{% if i18n and url.code %}

    {% set title = hasCustomLayout ? layout|mainLayoutTitle : i18n.title %}
    {% set subTitle = i18n.subTitle %}
    {% set titleForce = 2 %}
    {% set titleAlignment = i18n.titleAlignment ? i18n.titleAlignment : 'text-start' %}
    {% set intro = i18n.introduction %}
    {% set introAlignment = i18n.introductionAlignment ? i18n.introductionAlignment : 'text-start' %}
    {% set body = i18n.body %}
    {% set bodyAlignment = i18n.bodyAlignment ? i18n.bodyAlignment : 'text-start' %}
    {% set mediaRelation = hasCustomLayout ? layout|layoutBlockType('media')|mainMedia : lastNews|mainMedia %}
    {% set haveMedia = mediaRelation.media.filename is defined and mediaRelation.media.filename %}

    <div class="first-news-block bg-secondary">

        <div class="container pt-4 pt-lg-5 pb-0 pb-lg-5 position-relative">

            {% include 'core/webmaster-edit.html.twig' with {
                'title': "Éditer l'actualité"|trans([], 'front_webmaster'),
                'role': 'ROLE_NEWSCAST',
                'path': path('admin_newscast_edit', {'website': lastNews.website.id, 'newscast': lastNews.id})
            } only %}

            <div class="row">

                {% if haveMedia %}
                    <div class="col-md-5">
                        {% set mediaConfig = mediaRelation|thumbConfiguration(thumbConfigurationFirst) %}
                        {{ mediaRelation|thumb(mediaConfig, {
                            'targetLink': path('front_newscast_view', {'pageUrl': url.code, 'url': website|i18nUrl(lastNews)}),
                            'isInBox': true
                        }) }}
                    </div>
                {% endif %}

                <div class="{% if haveMedia %}col-md-7 pt-4 pt-lg-5 pb-4 pb-lg-5 ps-lg-5 pe-lg-5{% else %}col-12 pt-5 pb-5{% endif %} my-auto">

                    {% if title|striptags|length > 0 %}
                        <a href="{{ path('front_newscast_view', {'pageUrl': url.code, 'url': website|i18nUrl(lastNews)}) }}" data-toggle="preloader">
                            <h{{ titleForce }} class="title text-white {{ titleAlignment }}">{{ title|unescape|raw }}</h{{ titleForce }}>
                        </a>
                    {% endif %}

                    {% if lastNews.category and lastNews.category.displayCategory %}
                        {% set i18nCategory = lastNews.category|i18n %}
                        {% if i18nCategory and i18nCategory.title %}
                            {% set titleCategory = i18n.title %}
                            <h{{ titleForce + 1 }} class="news-category-title {{ titleAlignment }}">{{ i18nCategory.title|unescape|raw }}</h{{ titleForce + 1 }}>
                        {% endif %}
                    {% endif %}

                    {% if subTitle|striptags|length > 0 %}
                        <strong class="sub-title mb-3 d-inline-block w-100">{{ subTitle|raw }}</strong>
                    {% endif %}

                    {% if lastNews.category and not lastNews.category.hideDate or not lastNews.category %}
                        <small class="date mb-4 d-inline-block w-100">
                            {% set format = lastNews.category ? lastNews.category.formatDate : 'dd/MM/Y' %}
                            {{ lastNews.publicationStart|localizedDate('none', 'none', app.request.locale, null, format) }}
                        </small>
                    {% endif %}

                    {% if intro|striptags|length > 0 %}
                        <p class="introduction text-white {{ introAlignment }}">{{ intro|striptags|truncate(150) }}</p>
                    {% endif %}

                    {% if intro|striptags|length == 0 and body|striptags|length > 0 %}
                        <p class="introduction text-white {{ bodyAlignment }}">{{ body|striptags|truncate(150) }}</p>
                    {% endif %}

                    <div class="w-100 mt-4">
                        <a href="{{ path('front_newscast_view', {'pageUrl': url.code, 'url': website|i18nUrl(lastNews)}) }}" class="btn btn-outline-white hbtn hb-fill-right" data-toggle="preloader">
                            {{ emt("En savoir plus"|trans) }}{{ "fal fa-chevron-right"|fontawesome(null, 12, 'ms-2') }}
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>

{% endif %}